//******* Colores Unilabs *******
@naranja_unilabs: #e53012;
@amarillo_unilabs: #f7a700;
@negro_unilabs: #1b1b1b;
@gris_unilabs: #d5d5d5;
@blanco_unilabs: #fff;

body {
  //padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
  color: @negro_unilabs;
  font-family: Roboto;
}

//****** Configuración de Formulario de Login
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

//****** Configuración de Tarjetas ******
.card-header{
  text-transform: uppercase;
}

//****** Personalización de botones ******
btn-uni {
  background-color: #ffffff;
  color: @naranja_unilabs;
}

.btn {
  padding: 10px 20px;
  border: 0 none;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: 0 none;
}

.btn-uni-naranja {
  background-color: @blanco_unilabs;
  color: @naranja_unilabs;
}

.btn-uni-naranja:hover, .btn-uni-naranja:focus,
.btn-uni-naranja:active, .btn-uni-naranja.active,
.open > .dropdown-toggle.btn-uni-naranja {
  background: @naranja_unilabs;
  color: @blanco_unilabs;
}

.btn-uni-naranja:active, .btn-uni-naranja.active {
  background-color: @naranja_unilabs;
  color: @blanco_unilabs;
}

.btn-uni-amarillo {
  background-color: @blanco_unilabs;
  color: @amarillo_unilabs;
}

.btn-uni-amarillo:hover, .btn-uni-amarillo:focus,
.btn-uni-amarillo:active, .btn-uni-amarillo.active,
.open > .dropdown-toggle.btn-uni-amarillo {
  background: @amarillo_unilabs;
  color: @blanco_unilabs;
}

.btn-uni-amarillo:active, .btn-uni-amarillo.active {
  background-color: @amarillo_unilabs;
  color: @blanco_unilabs;
}


//****** Personalización de Nav
header{
  margin-bottom: 40px;
}
.navbar-custom {
  background-color: @blanco_unilabs;
  text-transform: uppercase;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: @negro_unilabs;
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
  color: #373737;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  border-bottom: 6px solid @naranja_unilabs;
}

/* for dropdown only - change the color of droodown */
.navbar-custom .dropdown-menu {
  background-color: @blanco_unilabs;
}
.navbar-custom .dropdown-item {
  color: @naranja_unilabs;
}
.navbar-custom .dropdown-item:hover,
.navbar-custom .dropdown-item:focus {
  color: @negro_unilabs;
}